
#menu{
	color: white;
	padding: 0;
	background-color: black;
}
#menu ul{
	font-family: "Forza A";
	list-style-type: none;
}
#list-holder{
	margin-top: 100px;

}

#menu-items ul li{
	margin: -50px;
}

#menu-items h2{
	color: white;
	font-size: 50px;
}

#right{
	height: 675px;
}
#menu-items{

}

#info-show-menu{
	padding: 15px;
	height: 300px;
	margin-top: 50px;
}
#info-show-menu h4{
	color:white;
}
#info-show-menu h3{
	color:#AFAFAF;
}
#info-show-menu button{
	background-color: black;
	border: 2px white solid;
	line-height: 10px;
	margin: 20px 0 0 20px;
}
#media-for-show-menu{
	margin-top: 10px;
	background: white;
	height: 180px;
}
#text-for-show-menu{
	color: #AFAFAF;
}
#contact-info-for-show-menu h3{
	color:#535353;
}

#social-media-for-show-menu div{
	border: 1px white solid;
	height: 50px;
	margin: 20px 0 20px 0
}
#social-media-for-show-menu a {
	margin-right: -10px;
}
#social-media-for-show-menu a {
	margin-right: -10px;
}
 #search-icon-640:before{
 	content: url("../base-elements/menu-640-search-icon.svg");
 	border-bottom: 1px #CCCCCC solid;
 	padding-bottom: 16px;
 }


#menu-items input {
	height: 50px;
	padding: 0;
	padding-top: 10px;
	line-height: 30px;
	color: white;
	border-top:none;
	border-right: none;
	border-left: none;
	background-color: rgba(0, 0, 0, .5)
}


::-webkit-input-placeholder {
	overflow: visible;
	font-size: 50px;
	padding-bottom: 40px;
	line-height: 20px;
}



#menu-items li div {
	padding: 0;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}



