

@for $i from 1 through 3 {
  #span-#{$i} {
  	display: block;
	height: 0;
	width: 15px;
	border:1px solid red;
	margin-top: 3px;
  }
 }

#hamburger{
	width: 30px;
	height: 20px;
}

#span-1{
	display: block;
	height: 0;
	width: 15px;
	border:1px solid red;
	margin-top: 3px;
}

#span-2{
	
	display: block;
	height: 0;
	width: 15px;
	border:1px solid red;
	margin-top: 3px;
}

#span-3{
	display: block;
	height: 0;
	width: 15px;
	border:1px solid red;
	margin-top: 3px;
}